.searchContainer{
    margin-top: 8rem;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2.5rem;
}
input{
    height: 3rem;
    width: 20rem;
    padding: 0 1rem;
    border: none;
    border-radius: 10px;
    background: #F8F9FA;
}
